[user]
        email = jrm@ftfl.ca
        name = Joseph Mingrone
        signingkey = 55B093A726C388557122BAD536A40C83B0D6EF9E
[push]
        default = simple
        followTags = true
[core]
	pager = less -F -X
[alias]
        clog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        co = checkout
[commit]
        gpgSign = true
[merge]
        conflictstyle = diff3
[transfer]
        fsckobjects = true
[pull]
	rebase = true
