[user]
        email = jrm@ftfl.ca
        name = Joseph Mingrone
        signingkey = 55B093A726C388557122BAD536A40C83B0D6EF9E
[push]
        default = simple
        followTags = true
[core]
        pager = less -F -X
[alias]
        clog = log --pretty=format:'%C("#"858585)%h%Creset -%C(auto)%d%Creset %<|(98,trunc)%s %C("#"858585)%cd%Creset %C("#"CC5500)%an <%ae%m%Creset %C("#"858585)(%cl)%Creset'
        co = checkout
[commit]
        gpgSign = true
[merge]
        conflictstyle = diff3
[transfer]
        fsckobjects = true
[pull]
	ff = only
[log]
	date = format-local:%Y-%m-%d %H:%M
